@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --primary-color: #10b981;
  --dark-grey: #6b7280;
  --light-grey: #f1f5f9;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.question-container {
  padding: 1.3rem;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: var(--dark-grey);
}

button {
  display: block;
  margin: auto;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border-color: transparent;
  color: white;
  background-color: var(--dark-grey);
  font-size: 1.2rem;
}

button:hover {
  background-color: var(--primary-color);
}

.link-active {
  font-weight: bold;
  color: var(--dark-grey);
}

.list-inline {
  list-style: none;
  display: inline;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-decoration: none;
  /* color: white; */
}

nav {
  background-color: var(--primary-color);
  color: black;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 0.5rem;
  padding: 2rem;
  max-width: 100%;
  margin: auto;
}

.nav-list {
  text-align: right;
  padding-inline-start: 0rem;
  margin: 1rem 0rem;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

.nav-div {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
}
